absl-py==0.12.0
antlr4-python3-runtime==4.8
astunparse==1.6.3
av==8.0.3
backcall==0.2.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.22
decorator==4.4.2
easydict==1.9
fastdtw==0.3.4
ffmpeg==1.4
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
fvcore @ git+https://github.com/facebookresearch/fvcore.git@b5a71b3697a63eb515aea1d38c81265419384af0
gast==0.3.3
gdown==3.12.2
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==3.7.3
iopath==0.1.6
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.3.4
moviepy==1.0.3
networkx==2.5
numpy==1.19.5
oauthlib==3.1.0
omegaconf==2.1.0.dev22
opencv-python==4.5.1.48
opt-einsum==3.3.0
pandas==1.2.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
portalocker==2.2.1
proglog==0.1.9
prompt-toolkit==3.0.17
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydot==1.4.2
Pygments==2.8.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.16.2
scikit-learn==0.22.2
scipy==1.6.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yacs==0.1.8
youtube-dl==2021.3.14
zipp==3.4.1
